.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  &__logo {
    font-size: 24px;
    font-weight: 500;
    color: $white-color;
  }
  &__btn {
    padding: 13px 39px;
    font-size: 24px;
    font-weight: bold;
  }
}
