// Abstracts
@import "./sass/abstracts/variables";
// Core
@import "./sass/core/typography";
// Components
@import "./sass/components/buttons";
// Layout

@import "./sass/layout/grid";
@import "./sass/layout/header";
@import "./sass/layout/navigation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JOST";
}

body {
  background-color: $primary-color;
  padding: 22px 28px;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 51px 122px;
  }
}
