button {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
  border-radius: 7px;
  border: none;
}

button:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}